#container{
    background: grey;
    width: 360px;
    margin: 0 auto;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    padding : 0 40px;
}
.completed{
    color: yellowgreen;
    text-decoration: line-through;
}
input{
    margin-bottom: 10px;
}
#list{
    width: 360px;
    margin: 0;
    padding: 0 25%;
    display: flex;
    flex-direction: column;
}
#list > li{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
#list > li >i{
            margin-right: 50px;
    }